<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="next">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="static" stopProcessing="true">
          <match url="^_next/.+" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    
    <iisnode
      node_env="production"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      watchedFiles="web.config;*.js;*.mjs"
      loggingEnabled="true"
      debuggingEnabled="true"
    />

  </system.webServer>
</configuration>
